<ng-container *ngIf="covid19Data">
  <div class="loader" *ngIf="!covid19Data.length">
    <app-shared-loader></app-shared-loader>
  </div>
  <div style="overflow-x: auto">
    <table class="table table-sm table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Cases</th>
          <th scope="col">Today's Cases</th>
          <th scope="col">Deaths</th>
          <th scope="col">Today's Deaths</th>
          <th scope="col">Recovered</th>
          <th scope="col">Active</th>
          <th scope="col">Critical</th>
          <th scope="col">Cases Per Million</th>
          <th scope="col">Deaths Per Million</th>
          <th scope="col">Total Tests</th>
          <th scope="col">Tests Per Million</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of covid19Data">
          <th scope="row">{{data.country}}</th>
          <td>{{data.cases | currency : 'USD' : '' : '1.0-0' }}</td>
          <th>+{{data.todayCases | currency : 'USD' : '' : '1.0-0' }}</th>
          <td>{{data.deaths | currency : 'USD' : '' : '1.0-0' }}</td>
          <th>+{{data.todayDeaths | currency : 'USD' : '' : '1.0-0' }}</th>
          <td>{{data.recovered | currency : 'USD' : '' : '1.0-0' }}</td>
          <td>{{data.active | currency : 'USD' : '' : '1.0-0' }}</td>
          <td>{{data.critical | currency : 'USD' : '' : '1.0-0' }}</td>
          <td>{{data.casesPerOneMillion | currency : 'USD' : '' : '1.0-0' }}</td>
          <td>{{data.deathsPerOneMillion | currency : 'USD' : '' : '1.0-0' }}</td>
          <td>{{!data.totalTests ? 'N/A' : (data.totalTests  | currency : 'USD' : '' : '1.0-0' )}}</td>
          <td>{{!data.testsPerOneMillion ? 'N/A' : (data.testsPerOneMillion | currency : 'USD' : '' : '1.0-0' )}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</ng-container>