.loader-container {
    max-height: 50px;
    max-width: 50px;
    margin: 0 auto;
}

svg {
	stroke-dasharray: 269.7405090332031px;
	stroke-dashoffset: 0;
	animation: heartBeat 2s linear reverse infinite;
	transform: rotate(-90deg);
}

@keyframes heartBeat {
	50% {
		stroke-dashoffset: 269.7405090332031px;
	}
	50.01% {
		stroke-dashoffset: -269.7405090332031px;
	}
}