
.experience-card, .certification-card, .academic-card {
    margin-bottom: 5%;
    .experience-card-body {
        a {
            img {
                max-height: 40px;
            }
        }
    }
    .certification-card-body {
        a:first-child {
            img {
                max-height: 200px;
            }
        }
        a:last-child {
            margin-top: 20px;
        }
    }
}

.github-text {
    text-align: center;
    font-weight: bold;
}