
<!--
    TEMPLATE
    @author: Rohit Tirmanwar
 -->

<div *ngIf="jsonData">
<div class="card top-animation" style="width:100%">
    <div class="card-header">
        <strong>About me!</strong>

        <!-- Download Resume -->
        <div class="btn-group float-right">
            <a class="btn btn-primary" href="{{jsonData.userData.resume.pdf}}" target="_blank"><i class="fa fa-file-pdf-o"></i> Resume</a>
            <!-- <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Download PDF</a>
                <a class="dropdown-item" href="#">Download Word</a>
            </div> -->
        </div>
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">About myself!</h5> -->
        <p class="card-text" *ngFor="let absItem of profile.abstract">
            {{absItem}}
        </p>
    </div>
</div>
<br>
<div id="experience" class="card bottom-animation" >
    <div class="card-header">
        <strong>Experience</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6" *ngFor="let industry of industryList">
                <div class="card experience-card">
                    <div class="card-header">
                        <strong>{{industry.name}}</strong>
                    </div>
                    <div class="card-body experience-card-body">
                        <a href="{{industry.websiteLink}}" target="_blank"><img class="float-right" src="{{industry.logo}}"></a>
                        <!-- <a class="card-title">{{industry.name}}</a> -->
                        <h6 class="card-text">{{industry.designation}}</h6>
                        <p class="card-text">{{(industry.endDate)? industry.startDate + ' - ' + industry.endDate : 'Working since ' + industry.startDate}}</p>
                        <h6 class="card-text">{{industry.address}}</h6>
                        <button (click)="handleExperienceClick(industry.label)" class="btn btn-primary float-right">More Details <i class="fa fa-chevron-circle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<div id="skills" class="card">
    <div class="card-header">
        <strong>Skills</strong>
    </div>
    <div class="card-body">
        <h6 class="alert alert-primary" style="display: inline-block; margin: 2px" *ngFor="let skill of skillList">
            <span>{{skill}}</span>
        </h6>
    </div>
</div>
<br>
<div id="education" class="row">
    <div class="col-md-6" *ngFor="let school of schoolList; let i = index;">
        <div class="card {{i%2==0? 'left-animation':'right-animation'}}" style="margin-bottom: 2%">
            <div class="card-header">
                <strong>{{school.course + ' in ' + school.major}}</strong>
            </div>
            <div class="card-body">
                    <a href="{{school.websiteLink}}" target="_blank"><img class="float-right" style="height: 40px;" src="{{school.logo}}"></a>
                <h5 class="card-title">{{school.name}}</h5>
                <h6 class="card-title">{{school.address}}</h6>
                <p class="card-text">{{school.startDate + ' - ' + school.endDate}}</p>
            </div>
        </div>
    </div>
</div>
<br>
<div id="certifications" class="card bottom-animation" >
    <div class="card-header">
        <strong>Certifications</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" *ngFor="let certification of certificationList">
                <div class="card certification-card">
                    <div class="card-header">
                        <strong>{{certification.name}}</strong>
                    </div>
                    <div class="card-body certification-card-body">
                        <a href="{{certification.url}}" target="_blank"><img class="float-left" src="{{certification.logo}}"></a>
                        <h6 class="card-text">Issued by {{certification.organization}}</h6>
                        <p class="card-text">{{(certification.endDate)? certification.startDate + ' - ' + certification.endDate : 'Certified on ' + certification.startDate}}</p>
                        <h6 class="card-text">{{certification.details}}</h6>
                        <a href="{{certification.url}}" target="_blank" class="btn btn-primary">More Details <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div id="projects" class="card">
    <div class="card-header">
        <strong>Personal Projects and Developments</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6" *ngFor="let project of academicProjectList">
                <div class="card academic-card">
                    <div class="card-body">
                        <h5 class="card-title">{{project.name}}</h5>
                        <h6 class="card-text">{{project.date}}</h6>
                        <p class="card-text" *ngFor="let abItem of project.abstract">
                            {{abItem}}
                        </p>
                        <a *ngIf="project.liveDemo" href="{{project.liveDemo}}" target="_blank" class="btn btn-primary float-left">Live Demo</a>
                        <a href="{{project.referenceLink}}" target="_blank" class="btn btn-primary float-right"><i class="fa fa-github"></i> Source Code</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 github-text">
                Please visit my <a target="_blank" href="{{jsonData.userData.social.github}}">GitHub</a> profile for more projects.
            </div>
        </div>

    </div>
</div>
<br>
<div class="mt-3 disclaimer-text">
    <em>Disclaimer: All images and logos used here are the property of respective organizations and the copyrights are reserved with them.</em>
</div>

</div>
